workflows/Achraf_template_checker_chat.json
{
  "name": "Achraf_template_checker_chat",
  "active": false,
  "versionId": "imported-manual-002",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Template Checker"
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [-528, -192],
      "id": "chat-trigger",
      "name": "Chat"
    },
    {
      "parameters": {
        "jsCode": "// Haal chat data op uit de Chat-node\nconst chat = $('Chat').first().json;\n\nreturn [{\n  json: {\n    chatInput: chat.chatInput || \"\",\n    sessionId: chat.sessionId || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-336, -192],
      "id": "code",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Je bent EmailFixer, een vriendelijke maar professionele AI-assistent.\n\nWanneer de gebruiker een zakelijke HTML-e-mail aanlevert in <p>-tags:\n\n✔ Is de e-mail geldig → antwoord exact:\nDe e-mail voldoet aan alle eisen.\n\n✔ Is de e-mail ongeldig → corrigeer en antwoord:\n\n<p>…verbeterde e-mail…</p>\n<p>…</p>\n\n--- Aanpassingen ---\n• …\n\nGeen extra uitleg. Geen markdown. Alleen dit formaat.\n\nGebruik enkel toegestane placeholders zoals ${contact.firstName!}, ${user.email!}, ${entity.totalPrice!}.\n\nAfsluiting verplicht:\n<p>Met vriendelijke groet,</p>\n<p>${user.name!}</p>\n<p>GSM: ${user.gsm!} · E-mail: ${user.email!}</p>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [-128, -192],
      "id": "ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-4o",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-160, 64],
      "id": "chat-model",
      "name": "Chat Model",
      "credentials": {
        "openAiApi": {
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-16, 64],
      "id": "memory",
      "name": "Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [208, -192],
      "id": "respond",
      "name": "Respond"
    }
  ],
  "connections": {
    "Chat": {
      "main": [[{ "node": "Code", "type": "main", "index": 0 }]]
    },
    "Code": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "tags": []
}
