workflows/achraf_email_generator_chatbot.json
{
  "name": "achraf_email_generator_chatbot",
  "active": false,
  "versionId": "imported-manual-001",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [560, -32],
      "id": "7ad6d0a8-0fe6-409a-a51e-b3a3767669e2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Je bent een professionele AI-e-mailgenerator.\nJe ENIGE taak is: zakelijke HTML-e-mails maken volgens de richtlijnen hieronder.\nJe mag GEEN andere soorten gesprekken voeren.\n\n📌 OUTPUTFORMAT\n- Alleen <p> tags\n- 2–4 alinea’s\n\n📌 AANHEF\nFormeel:\n<p>Geachte ${contact.title!} ${contact.lastName!},</p>\n\nInformeel:\n<p>Beste ${contact.firstName!},</p>\n\n📌 AFSLUITING\n<p>Met vriendelijke groet,</p>\n<p>${user.name!}</p>\n<p>GSM: ${user.gsm!} · E-mail: ${user.email!}</p>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [224, -32],
      "id": "b07cd307-6786-45b1-bff8-21bb6affe604",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Haal chat data op\nconst chat = $('Chat').first().json;\n\nreturn [{\n  json: {\n    chatInput: chat.chatInput || \"\",\n    sessionId: chat.sessionId || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [16, -32],
      "id": "a0986341-589a-4170-86d7-816e306c34ac",
      "name": "Code"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "anthropic/claude-3.5-sonnet",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [144, 192],
      "id": "251f36d1-e8d0-46b1-a7b7-63ccd3bb092a",
      "name": "Chat Model",
      "credentials": {
        "openAiApi": {
          "name": "OpenAi account",
          "apiKey": "={{ $env.OPENROUTER_API_KEY }}",
          "basePath": "={{ $env.OPENROUTER_API_URL }}"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [320, 192],
      "id": "03cd4855-e75a-4e8d-acbf-00f44878fa71",
      "name": "Chat Memory"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "template generator"
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [-192, -32],
      "id": "8c01ad59-093e-42c7-8039-d900b5720ae0",
      "name": "Chat"
    }
  ],
  "connections": {
    "Chat": {
      "main": [[{ "node": "Code", "type": "main", "index": 0 }]]
    },
    "Code": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Chat Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "tags": []
}
