workflows/chatbot_SenChraf.json
{
  "name": "chatbot_SenChraf",
  "active": false,
  "versionId": "imported-manual-003",
  "nodes": [
    {
      "parameters": {
        "public": true
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [-896, 176],
      "id": "chat",
      "name": "Chat"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.chatInput }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-688, 176],
      "id": "if",
      "name": "If"
    },
    {
      "parameters": {
        "url": "={{ $env.DESKDRIVE_API_URL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-480, 80],
      "id": "http",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Verzamel facturen\nconst allInvoices = $input.all().map(i => i.json).flat();\n\nconst totalIncl = allInvoices.reduce((s, i) => s + (i.amountIncl || 0), 0);\nconst totalEx = allInvoices.reduce((s, i) => s + (i.amountEx || 0), 0);\nconst suppliers = [...new Set(allInvoices.map(i => i.customerName))];\n\nconst chat = $('Chat').first().json;\n\nreturn [{\n  json: {\n    chatInput: chat.chatInput,\n    sessionId: chat.sessionId,\n    factuurContext: {\n      totaalAantal: allInvoices.length,\n      totaalIncl: totalIncl.toFixed(2),\n      totaalEx: totalEx.toFixed(2),\n      leveranciers: suppliers,\n      facturen: allInvoices\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-272, 80],
      "id": "code",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Je bent een AI-assistent gespecialiseerd in factuuranalyse.\nJe gebruikt uitsluitend de aangeleverde factuurdata om vragen te beantwoorden.\n\nBeantwoord altijd in het Nederlands.\nGebruik duidelijke secties, correcte bedragen en géén verzonnen data."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [0, 0],
      "id": "agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-96, 256],
      "id": "model",
      "name": "Chat Model",
      "credentials": {
        "openAiApi": {
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [48, 256],
      "id": "memory",
      "name": "Memory"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [288, 80],
      "id": "respond",
      "name": "Respond"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"output\": \"Hey, hoe kan ik je helpen vandaag?\" }"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [-320, 400],
      "id": "respond-empty",
      "name": "Respond Empty"
    }
  ],
  "connections": {
    "Chat": {
      "main": [[{ "node": "If", "type": "main", "index": 0 }]]
    },
    "If": {
      "main": [
        [{ "node": "HTTP Request", "type": "main", "index": 0 }],
        [{ "node": "Respond Empty", "type": "main", "index": 0 }]
      ]
    },
    "HTTP Request": {
      "main": [[{ "node": "Code", "type": "main", "index": 0 }]]
    },
    "Code": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "tags": []
}
